<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Om oss</h2>
                <h3 class="section-subheading text-muted">Utvecklar din förmåga till hållbar framgång i en föränderlig
                    värld.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Adaptiv är ett konsultbolag som i huvudsak verkar inom Stockholmsområdet. Vi består av fem konsulter, fem företagsledare och fem delägare. Alla fem har lång erfarenhet och djup kunskap inom sina specialområden. Sammanfattat finns vår bas inom Lean-Agila metoder för systemutveckling, vilket vi breddat till förändringsarbete, coachning och ledarskap.
                </p>
                <p class="large text-muted">I en värld som kan karaktäriseras av osäkerhet, förändring och komplexitet är det inte storlek som ger framgång utan förmågan till snabb förändring. Vare sig det rör väldesignad mjukvara, förändringsresor eller organisatorisk utveckling hjälper vi företagen att bli... tja, adaptiva.
                </p>
                <p class="large text-muted">Vi tror på att se till <strong>helheten</strong>, vare sig det handlar om att optimera resultaten från ett utvecklingsteam eller hur mycket arbetstid vi lägger hos våra kunder. Vi gillar <strong>gemenskap</strong>. Därför träffas vi varje fredag tillsammans. Varje vecka lägger vi tid på <strong>lärande</strong>, av varandra eller andra. Vi förespråkar radikal <strong>öppenhet</strong> – med varandra eller med företagets information. Vår redovisning är därför publik. Sist men inte minst, <strong>hållbarhet</strong>. Vi vill arbeta på ett hållbart sätt, skapa hållbara produkter och bidraga till hållbara verksamheter.
                </p>
            </div>
        </div>
    </div>
</section>
