<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Om oss</h2>
                <h3 class="section-subheading text-muted">Utvecklar din förmåga till hållbar framgång i en föränderlig
                    värld.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-muted">Adaptiv är ett konsultbolag bestående av fem konsulter, företagsledare och lika delägare. Alla konsulter har lång erfarenhet och djup kunskap inom sina specialområden. Sammanfattat finns vår bas inom Lean-Agila metoder för systemutveckling, vilket vi breddat till förändringsarbete, coachning och ledarskap. Adaptiv grundade år 2009 och är främst verksamma i storstockholm.
                </p>
                <p class="text-muted">I en värld som kan karaktäriseras av osäkerhet, förändring och komplexitet är det inte storlek som ger framgång utan förmågan till snabb förändring. Vare sig det rör väldesignad mjukvara, förändringsresor eller organisatorisk utveckling hjälper vi företagen att bli... tja, adaptiva.
                </p>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-left">
                <ul>
                  <li><p class="text-muted">Vi tror på att se till <strong>helheten</strong>, vare sig det handlar om att optimera resultaten från ett utvecklingsteam eller hur mycket arbetstid vi lägger hos våra kunder.</p></li>
                  <li><p class="text-muted">Vi gillar <strong>gemenskap</strong>. Därför träffas vi varje fredag tillsammans.</p></li>
                  <li><p class="text-muted">Varje vecka lägger vi tid på <strong>lärande</strong>, av varandra eller andra.</p></li>
                  <li><p class="text-muted">Vi förespråkar radikal <strong>öppenhet</strong> – med varandra eller med företagets information. Vår löpande redovisning är därför publik.</p></li>
                  <li><p class="text-muted">Sist men inte minst, <strong>hållbarhet</strong>. Vi vill arbeta på ett hållbart sätt, skapa hållbara produkter och bidra till hållbara verksamheter.</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
