<!-- About Section -->
<section id="sustainability" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hållbarhet</h2>
        <h3 class="section-subheading text-muted">Våra styrdokument</h3>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="text-muted">...</p>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <p class="text-muted">Levande arbetsdokument: </p>
        <ul>
          <li>
            <p class="text-muted">länk här</p>
          </li>
          <!-- <li><p class="text-muted">Sist men inte minst, <strong>hållbarhet</strong>. Vi vill arbeta på ett hållbart sätt, skapa hållbara produkter och bidra till hållbara verksamheter.</p></li> -->
        </ul>
      </div>
    </div>
  </div>
</section>