<!-- About Section -->
<section id="sustainability" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="../img/sunset-wide.jpg" class="img-heading img-responsive" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hållbarhet</h2>
        <h3 class="section-subheading text-muted">Hur vi jobbar med vår viktigaste fråga</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-muted">
          Klimatförändringarna är ett hot mot mänsklighetens fortsatta existens. Skymningen är redan över oss.
          Men vi tänker inte gå tysta in i den djupa natten. Därför arbetar vi aktivt med hållbarhet.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <p class="text-muted">Exempel på saker vi redan gör eller tänker göra:</p>
        <ul>
          <li>
            <p class="text-muted">Få kontroll på vår aktuella klimatpåverkan enligt GHG-protokollet Scope 3 (hela eller utvalda delar).</p>
          </li>
          <li>
            <p class="text-muted">Skapa en hållbarhetsstrategi och en årlig reduktionsplan, därefter arbeta aktivt för att reducera vår klimatpåverkan.</p>
          </li>
          <li>
            <p class="text-muted">Utbilda oss om klimat och hållbarhet och hålla våra kunskaper uppdaterade</p>
          </li>
          <li>
            <p class="text-muted">Använda vår kompetens om klimat och hållbarhet i våra konsultuppdrag och privat.</p>
          </li>
          <li>
            <p class="text-muted">Arbeta med leverantörer och bistå kunder för att få större verkansgrad.</p>
          </li>
          <li>
            <p class="text-muted">Inspirera och förenkla för andra, likatänkande bolag.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-muted">
          Vårt klimatarbete är helt transparent.
          Inte bara i öppenhetens namn utan även för att visa andra att det inte är så svårt.
          Vi publicerar det som vi skapar under en Creative Commons-licens.
          Du kan använda materialet som du vill, bara du attribuerar källan
          och använder samma licens själv om du publicerar det.
          Vi har inte tid att hålla lösningar kring klimatet hemliga.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-muted">
          Följ oss gärna på <a class="dark" href="https://twitter.com/adaptivsthlm">Twitter</a>
          eller <a class="dark" href="https://www.linkedin.com/company/adaptiv-sthlm/">LinkedIn</a>
          för att få veta mer om våra framgångar eller lära av våra misstag. #AdaptivsKlimatresa
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-muted">
          Publicerade dokument:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-left">
        <ul>
          <li>
            <p class="text-muted">
              <a class="dark"
                href="https://docs.google.com/document/d/123Pe7T6AN7_XxJA5c5_2vgDOqIZpKK6HRL-ninC35-s/edit#heading=h.yvn5oe875tsy">Grundläggande
                principer för att motverka klimatförändring</a> - Det behöver inte vara så svårt
            </p>
          </li>
          <li>
            <p class="text-muted">
              <a class="dark"
                href="https://docs.google.com/document/d/1zQO-R3Q4AyybzfLLtrIyf117STTk15hg40FcXqpH1pw/edit?usp=sharing">Adaptivs
                ambition för klimatet</a> - Vad vi vill åstadkomma och bidra med
            </p>
          </li>
          <li>
            <p class="text-muted">
              <a class="dark"
                href="https://docs.google.com/document/d/1JtFmv3_ZqzI_JXG3gmNTnXim3W91WaPZgqa8SOfyI3w/edit?usp=sharing">Adaptivs
                klimatstrategi</a> - Hur vi tänker att jobba mot vår ambition
            </p>
          </li>
          <li>
            <p class="text-muted">
              <a class="dark"
                href="https://docs.google.com/document/d/1zvOiZKb-70ZUpwGJ4azYlYjVB2K4M4JwK25gG5txaaY/edit?usp=sharing">Klimatstrategiska
                nivåer</a> - De tre huvudstegen i vår strategi
            </p>
          </li>
          <li>
            <p class="text-muted">
              <a class="dark"
                href="https://docs.google.com/document/d/14NpMv0x0__6ucdoLbVoiTxA0DbytHTIARLws7q-MPbc/edit?usp=sharing">Adaptivs hållbarhetspolicy</a> - Våra egna riktlinjer
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
