{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

a.dark {
    color: #333;
}

a.dark:hover,
a.dark:focus,
a.dark:active {
    color: #999;
}

.posts {
  list-style: none;
  padding-left: 0;
}

.posts li {
  line-height: 2;
}

.post p.post-intro {
  color: #{{ site.data.template.color.muted }};
  font-size: 14px;
}

.post p {
  font-size: 13px;
}

.post li {
  font-size: 13px;
  padding-bottom: 8px;
}

.post a {
  color: #999;
}

.post a:hover, a:focus, a:active {
    color: #999;
}

.post-date {
  color: #{{ site.data.template.color.muted }};
  display: inline-block;
  width: 6em;
}
