{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

a.dark {
    color: #333;
}

a.dark:hover,
a.dark:focus,
a.dark:active {
    color: #999;
}

.post p.post-intro {
  color: #{{ site.data.template.color.muted }};
}
